spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

server:
  port: ${SERVER_PORT:8081}

pocketr:
  avatar:
    storage-dir: ${AVATAR_STORAGE_DIR:/opt/pocketr/avatars}
